@charset "utf-8";
@import url('font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: #222;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', 'Titillium Web', sans-serif;
  font-size: 15px;
  color: #222;
  line-height: 1.4;
}

/* 공통클래스 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* 고정메뉴 */
.fix-wrap {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  z-index: 99999;
}

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}

/* 상단 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 70px;
  background: #fff url('../images/blind_bg.png') no-repeat left top;
  z-index: 9999;

  overflow: hidden;
  transition: height 0.3s ease-in;

  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 8%);
}

.header .inner {
  display: flex;
  justify-content: space-between;
}

.header .inner::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 100vw;
  height: 70px;
  background-color: #fff;
  z-index: -1;

  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 8%);
}

.logo {
  display: inline-block;
  width: 87px;
  height: 70px;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
}

.gnb {}

.menu {
  display: flex;
}

.menu>li {
  width: 180px;
}

.mainmenu {
  display: block;
  font-size: 21px;
  line-height: 70px;
  text-align: center;
  border-bottom: 1px solid rgba(177, 201, 229, 0);
  transition: border 0.5s;
  z-index: 999;
}

.menu>li:hover .mainmenu {
  border-bottom: 1px solid rgba(177, 201, 229, 1);
}

.submenu {
  padding: 25px;
  height: calc(100% - 70px);
  border-left: 1px solid #ebebeb;
  transition: background-color 0.5s;
}

.submenu li {
  margin-bottom: 10px;
}

.submenu li:last-child {
  margin-bottom: 0px;
}

.submenu li a {
  display: block;
  font-size: 16px;
  color: #5a5a5a;
  letter-spacing: -0.5px;
}

.submenu li a:hover {
  color: #3d66c4;
  text-decoration: underline;
}

.menu>li:hover .submenu {
  background-color: #ecf3fb;
}

.menu>li:last-child .submenu {
  border-right: 1px solid #ebebeb;
}

/* 주메뉴 포커스 유지 */
.menu>li:hover .mainmenu {
  color: #3d66c4;
}

.help {
  margin-top: 24px;
}

.help-list {}

.help-list li {
  float: left;
  margin-left: 14px;
}

.help-list li:first-child {
  margin-right: 14px;
}

.help-list li:first-child a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}

/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background: url('../images/visual.jpg') no-repeat center;
  background-size: cover;
}

.visual .inner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.visual-img {
  position: absolute;
  left: 0;
  top: 150px;
  max-width: 592px;
}

.visual-wrap {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin-bottom: 70px;
  border-radius: 12px;
  padding: 20px 0;
  overflow: hidden;
}

.sw-visual-prev {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 98px;
  height: 100%;
  border: 0;
  cursor: pointer;
  background-color: #fff;
  box-shadow: -10px 15px 25px rgb(0 0 0 / 8%);
  background: url('../images/1_15.svg') no-repeat center;
  transform: rotate(180deg);
}

.sw-visual-prev:hover {
  background: #6889ff url('../images/1_16white.svg') no-repeat center;
}

.sw-visual-next {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 98px;
  height: 100%;
  border: 0;
  cursor: pointer;
  background-color: #fff;
  box-shadow: -10px 15px 25px rgb(0 0 0 / 8%);

  background: url('../images/1_15.svg') no-repeat center;
}

.sw-visual-next:hover {
  background: #6889ff url('../images/1_16white.svg') no-repeat center;
}


.sw-visual {
  width: 80%;
  margin: 0 auto;
}

.visual-icon {
  display: block;
  text-align: center;
  padding-top: 85px;
  color: #333;
  font-size: 16px;
  white-space: nowrap;
}

.visual-icon:hover {
  font-weight: 500;
}

.visual-icon::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: block;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
  transition: background-color 0.3s;
}

.visual-icon:hover::before {
  background-color: #ffd233;
}

.visual-icon::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: block;
  width: 70px;
  height: 70px;
}

.visual-icon1::after {
  background: url('../images/bgicon1.svg') no-repeat center;
}

.visual-icon2::after {
  background: url('../images/bgicon2.svg') no-repeat center;
}

.visual-icon3::after {
  background: url('../images/bgicon3.svg') no-repeat center;
}

.visual-icon4::after {
  background: url('../images/bgicon4.svg') no-repeat center;
}

.visual-icon5::after {
  background: url('../images/bgicon5.svg') no-repeat center;
}

.visual-icon6::after {
  background: url('../images/bgicon6.svg') no-repeat center;
}

.visual-icon7::after {
  background: url('../images/bgicon7.svg') no-repeat center;
}

.visual-icon8::after {
  background: url('../images/bgicon8.svg') no-repeat center;
}

.visual-icon9::after {
  background: url('../images/bgicon9.svg') no-repeat center;
}

.visual-icon10::after {
  background: url('../images/bgicon10.svg') no-repeat center;
}

.visual-icon11::after {
  background: url('../images/bgicon11.svg') no-repeat center;
}

.visual-icon12::after {
  background: url('../images/bgicon12.svg') no-repeat center;
}

/* 내용 공통 사항 */
.title-wrap {
  text-align: center;
}

.title-icon {
  display: block;
  margin-bottom: 15px;
}

.title-h2 {
  font-size: 42px;
  line-height: 1.09;
  margin-bottom: 16px;
  font-weight: 700;
  color: #222;
  letter-spacing: -0.6px;
}

.title-desc {
  font-size: 19px;
  line-height: 1.47;
  white-space: nowrap;
}

.color-w {
  color: #fff;
}

.contents-wrap {
  margin-top: 50px;
}

/* 소개 */
.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background: #f5fcff;
}

.about::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 485px;
  height: 578px;
  background: url('../images/about.png') no-repeat center;
  background-size: cover;
}

.about::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 161px;
  background: url('../images/aboutwave.png');
  animation: about_bg_ani 10s infinite;
}

@keyframes about_bg_ani {
  0% {
    background-position: center center;
  }

  25% {
    background-position: 70% center;
  }

  50% {
    background-position: center center;
  }

  75% {
    background-position: 70% center;
  }

  100% {
    background-position: center center;
  }
}

.about .inner {
  z-index: 1;
}

.about-box {
  float: left;
  height: 475px;
  width: 32.5%;
  margin-right: 1.25%;
}

.about-box-h3 {
  font-size: 26px;
  line-height: 1.46;
  color: #222222;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.about-box-h3::after {
  content: '';
  position: relative;
  display: block;
  width: 24px;
  height: 3px;
  background-color: #3d66c4;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about-box-txt {
  position: relative;
  font-size: 16px;
  color: #222;
  z-index: 1;
}

.about-box-w {
  color: #fff;
}

.about-box-after-w::after {
  background-color: #fff;
}

.arrow_b,
.arrow_w {
  position: absolute;
  bottom: 40px;
  display: block;
  width: 34px;
  height: 8px;
  transition: transform 0.5s;
}

.arrow_b {
  background: url('../images/arrow_b.png') no-repeat center;
  background-size: cover;
}

.arrow_w {
  background: url('../images/arrow_w.png') no-repeat center;
  background-size: cover;
}

.about-box-symbol .arrow_b {
  right: 35px;
}

.about-box-ceo:hover .arrow_w {
  transform: translateX(50%);
}

.about-box-symbol:hover .arrow_b {
  transform: translateX(50%);
}

.about-box-member:hover .arrow_b {
  transform: translateX(50%);
}

.about-box-left {}

.about-box-center {}

.about-box-right {
  margin-right: 0;
}

.about-box-round {
  position: relative;

  border-radius: 20px 0px 20px 0px;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgb(63 68 138 / 15%);
}

.about-box-round a:hover .about-box-txt {
  text-decoration: underline;
}

.mb-36 {
  margin-bottom: 3.6%;
}

.pd-40 {
  padding: 40px;
}

.about-box-ceo {
  height: 56%;
}

.about-box-ceo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/ceo.png') no-repeat center;
  background-size: cover;
}

.about-box-symbol {
  height: 40.4%;
}

.about-box-symbol a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #97C4ff url('../images/symbol.png') no-repeat right top;
  background-size: contain;
}

.about-box-symbol a::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 282px;
  height: 165px;
  background: url('../images/house.png') no-repeat right bottom;
  background-size: cover;
}

.about-slide {
  position: relative;

  border-radius: 20px 20px 0 0;
  height: 100%;
  box-shadow: 2px 2px 15px rgb(63 68 138 / 15%);

  overflow: hidden;
}

.sw-about {
  width: 100%;
  height: 100%;
}

.sw-about .swiper-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sw-about .swiper-slide a img {
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}

.sw-about-control {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
  background-color: #18263b;
}

.sw-about-title {
  display: block;
  float: left;
  font-size: 20px;
  color: #fff;
  line-height: 56px;
  padding-left: 25px;
}

.sw-about-bt {
  float: right;
  padding-right: 25px;
  padding-top: 15px;
}

.sw-about-pg {
  display: inline-block;
  width: auto;
  bottom: auto;
  left: auto;
  color: #fff;
  font-size: 17px;

  vertical-align: 2px;
  margin-right: 25px;
}

.sw-about-prev {
  width: 10px;
  height: 17px;
  background: url('../images/main_pop_leftarrow.png') no-repeat center;
  background-size: cover;
  cursor: pointer;
  border: 0;
  margin-right: 15px;
}

.sw-about-pause {
  width: 10px;
  height: 17px;
  background: url('../images/main_pop_stop.png') no-repeat center;
  /* background-size: cover; */
  cursor: pointer;
  border: 0;

  margin-right: 15px;
  vertical-align: 1px;
}

.sw-about-play {
  background: url('../images/play_bt.png') no-repeat center;
}

.sw-about-next {
  width: 10px;
  height: 17px;
  background: url('../images/main_pop_rightarrow.png') no-repeat center;
  background-size: cover;
  cursor: pointer;
  border: 0;
}


.about-box-member,
.about-box-sns {
  height: calc((100% - 3.6%) / 2);
}

.about-box-member a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/member.png') no-repeat center;
  background-size: cover;
}

.about-box-sns {
  background: #b9c3ff;
  padding: 35px;
}

.about-box-sns::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 224px;
  height: 226px;
}

.about-box-char-0::before {
  background: url('../images/char0.png') no-repeat right bottom;
  background-size: cover;
}

.about-box-char-1::before {
  background: url('../images/char1.png') no-repeat right bottom;
  background-size: cover;
}

.about-box-char-2::before {
  background: url('../images/char2.png') no-repeat right bottom;
  background-size: cover;
}

.about-box-sns-title {
  position: relative;
  font-size: 24px;
  font-weight: 500;

  color: #222;
  margin-bottom: 15px;
}

.sns-icon-wrap {
  position: relative;
  display: block;
  font-size: 0;
  white-space: nowrap;
  margin-top: 8px;
}

.sns-icon-wrap a {
  display: inline-block;
  width: 51px;
  height: 51px;
  font-size: 0;
  margin-right: 8px;
}

.sns-icon-wrap a:hover {
  transform: rotateY(360deg);
  transition: transform 0.8s;
}

.sns-icon-yt {
  background: url('../images/about_yt.png') no-repeat center;
  background-size: cover;
}

.sns-icon-fb {
  background: url('../images/about_fb.png') no-repeat center;
  background-size: cover;
}

.sns-icon-is {
  background: url('../images/about_in.png') no-repeat center;
  background-size: cover;
}

.sns-icon-bg {
  background: url('../images/about_bl.png') no-repeat center;
  background-size: cover;
}

.sns-icon-pt {
  background: url('../images/about_na.png') no-repeat center;
  background-size: cover;
}

.sns-icon-tw {
  background: url('../images/about_tw.png') no-repeat center;
  background-size: cover;
}

.sns-icon-kk {
  background: url('../images/about_kt.png') no-repeat center;
  background-size: cover;
}


/* 서비스 */
.service {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background: url('../images/service.jpg') no-repeat center;
  background-size: cover;
}

.service .contents-wrap {
  height: 440px;
  max-height: 440px;
}

.service-left {
  float: left;
  width: 23.2%;
  height: 100%;
  border: 2px solid #fff;
  border-top: 3px solid #fff;
  margin-right: 1.78%;
  padding: 40px;
}

.service-center {
  position: relative;
  float: left;
  height: 100%;
  width: calc(100% - 46.4% - 3.56%);
}

.service-top {
  height: 45.5%;
  border: 2px solid #fff;
  border-top: 3px solid #fff;
  padding: 30px;
}

.service-link-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.service-link-list li {
  display: table-cell;
  width: 25%;
  height: 100%;
  border-right: 1px dashed rgba(255, 255, 255, 0.6);
}

.service-link-list li:last-child {
  border-right: none;
}

.service-link-list li a {
  display: block;
  height: 100%;
  text-align: center;
  padding-top: 20px;
}

.service-link-list li a img {}

.service-link-list li a:hover img {
  animation: service-icon-ani 1.0s ease infinite;

}

@keyframes service-icon-ani {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(5%);
  }

  20% {
    transform: translateY(10%);
  }

  25% {
    transform: translateY(15%);
  }

  35% {
    transform: translateY(10%);
  }

  50% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(-10%);
  }

  75% {
    transform: translateY(-15%);
  }

  80% {
    transform: translateY(-10%);
  }

  90% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

.service-link-list li a span {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin-top: 15px;
}

.service-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48.8%;
}

.service-info {
  float: left;
  height: 100%;
  width: 48.57%;
  border: 2px solid #fff;
  padding: 20px 30px;
}

.service-info-top {
  text-align: center;
  padding-bottom: 14px;
  border-bottom: 1px dashed #fff;
}

.service-info-top a {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.service-info-top a:hover {
  text-decoration: underline;
}

.service-info-top a img {
  margin-right: 15px;
}

.service-info-bottom {}

.service-info-bottom strong {
  margin-top: 25px;
  float: left;
  font-size: 26px;
  color: #fff;
  font-weight: 500;
}

.service-info-list {
  float: right;
}

.service-info-list li {
  padding: 20px;
  border-bottom: 1px dashed #fff;
}

.service-info-list li:last-child {
  border-bottom: none;
}

.service-info-list li a {
  font-size: 17px;
  color: #fff;
}

.service-info-list li a:hover {
  text-decoration: underline;
}

.service-cs {
  float: right;
  height: 100%;
  width: 48.57%;
  border: 2px solid #fff;
  background: rgba(28, 87, 154, 0.6);
  text-align: center;
}

.service-cs strong {
  display: block;
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  margin-top: 19%;
}

.service-cs a {
  font-size: 39px;
  color: #fff;
}

.service-cs a:hover {
  text-decoration: underline;
}

.service-right {
  float: left;
  width: 23.2%;
  height: 100%;
  border: 2px solid #fff;
  border-top: 3px solid #fff;
  margin-left: 1.78%;
  padding: 40px;
}

.service-title2 {
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 25px;
}

.service-list {}

.service-list li {
  padding: 20px 0;
  border-bottom: 1px dashed #fff;
}

.service-list li:last-child {
  border-bottom: 0;
}

.service-list li a {
  position: relative;
  display: inline-block;
  font-size: 17px;
  color: #fff;
  font-weight: 300;
}

.service-list li a::after {
  content: '';
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 8px;
  background: url('../images/main_arrow_fff.png') no-repeat;

  opacity: 0;
  transition: opacity 0.3s;
}

.service-list li a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.service-list li a:hover::after {
  opacity: 1;
}

/* 뉴스 */
.news {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background: #f6f6f6 url('../images/news.png') no-repeat right bottom;
}

.news-top {}

.sw-news-list {}

.sw-news-list .swiper-wrapper {
  justify-content: space-between;
}

.sw-news-list .swiper-slide {
  display: block;

  /* 330px / 1400px * 100 */
  width: 23.57%;
  height: auto;

  max-width: 330px;
  /* swiper.css 에 코딩된 것을 수정 */
  /* flex-shring : 넘치는 경우 줄어드는 비율 */
  flex-shrink: 1;
}

.news-box {
  position: relative;
  background-color: #fff;
  border-radius: 20px 0 20px 0;
  box-shadow: 5px 5px 20px rgb(221 221 221 / 57%);
  padding: 25px;
}

.news-cate {
  position: absolute;
  left: 0;
  top: 25px;
  display: block;
  padding-left: 45px;
  padding-right: 35px;
  background-color: #3d66c4;
  font-size: 17px;
  line-height: 38px;
  color: #fff;
  border-radius: 0 18px 18px 0;

}

.news-cate-br {
  background-color: #fd9500;
  color: #333;
}

.news-title-link {

  display: block;
  height: 54px;

  margin-top: 60px;
  font-size: 19px;
  color: #222;
  font-weight: 500;

  /* 2줄 이상 말줄임 처리 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-date {
  display: inline-block;
  margin-top: 25px;
  color: #666;
  font-size: 13px;
  font-weight: 300;
}

.news-more {
  display: block;
  margin-top: 25px;
  float: right;
  font-size: 0;
}

.news-more::before {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background: url('../images/main_news_plus.png') no-repeat center;
  transition: all 0.3s;
}

.news-more:hover::before {
  transform: rotate(180deg);
}


.news-bottom {
  margin-top: 25px;
}

.news-box-bot {
  position: relative;
  display: block;
  width: 23.57%;
  height: 265px;
  float: left;

  /*
    100% - (23.57 * 4)  = 5.72%

    5.72% / 3  개당 여백 = 1.90%
  */
  margin-right: 1.90%;
  background-color: pink;
  border-radius: 20px 20px 0 0;
  box-shadow: 5px 5px 20px rgb(221 221 221 / 57%);
}

.news-box-bot:first-child {
  border-radius: 20px 0px 20px 0;
}

.news-box-bot:last-child {
  margin-right: 0;
}


/* 문화 */
.culture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background: #e8f4ff url('../images/culture.png') no-repeat left bottom;
}

/* 채용 */
.job {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background: url('../images/job.jpg') no-repeat center;
  background-size: cover;
}

/* 하단 */
.footer {
  position: relative;
  display: block;
  width: 100%;
  background-color: #141414;
  padding: 30px 0;
}